

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 0 40px;
  height: 80px;
  z-index: 1000;
  position: sticky;
  top: 0;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); */
}


.logo {
  height: 70px;
  width: auto;
  margin-top: 20px;
  object-fit: contain;
  display: block;
  max-width: 100%;
}
.center-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  background: transparent;
  border-bottom: none;
}

.center-menu .ant-menu-item {
  margin: 0 12px;
}

.center-menu .scroll-link {
  color: #000000 !important;
  font-weight: 500;
  transition: color 0.3s ease;
}

.center-menu .scroll-link:hover {
  color: #1890ff;
}

/* Auth links (right side) */
.auth-links {
  display: flex;
  gap: 20px;
}

.auth-links a {
  color: #203555;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.auth-links a:hover {
  color: #1890ff;
}